body{
    background:SkyBlue;
    margin-left: 40px;
    margin-right: 40px;
}

h1{ 
    text-align: center;
    font-family: "Poiret One";
    font-size: 70px;
}
img{
    width:100%;
}

.solid {
    border-style: solid;
    border-color: white;
}
.row1{
    padding:50px;
}

.line{
    height:200px;
}


.container {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
    
}
#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

#cube figure {
  margin: 0;
  width: 196px;
  height: 196px;
  display: block;
  position: absolute;
  border: 2px solid black;
}
#cube .front  { transform: rotateY(   0deg ); }
#cube .back   { transform: rotateX( 180deg ); }
#cube .right  { transform: rotateY(  90deg ); }
#cube .left   { transform: rotateY( -90deg ); }
#cube .top    { transform: rotateX(  90deg ); }
#cube .bottom { transform: rotateX( -90deg ); }

#cube .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }

.row {
    font-family: ;
    font-size: ;
}